<h2 class="m-1 font-mono text-lg font-bold">Niveau {{ floor() }}</h2>
<div class="grid grid-cols-15 grid-rows-15 aspect-square sm:max-w-96 w-full relative">
    @for (tile of level(); track $index) {
    <div>
        @if (isInteractible(tile)) {
        <p-overlaybadge [value]="tile.value ?? '?'" severity="secondary" badgeSize="small">
            <div [class]="tile.style()"
                 class="w-full aspect-square border border-neutral-100"
                 (click)="pop.toggle($event)">
            </div>
        </p-overlaybadge>
        <p-popover #pop>
            <p>{{ tile.description() }}</p>
        </p-popover>
        } @else {
        <div [class]="tile.style()" class="w-full aspect-square border border-neutral-100">
        </div>
        }
    </div>
    }
    <div id="hero" class="hero absolute top-[calc((3/15)*100%)] left-[calc((1/15)*100%)] w-1/15 aspect-square outline-2 outline-blue-500 outline-offset-2 z-10"></div>
</div>