<div class="w-full h-52 relative bg-blue-50">
    <div
        class="transform-3d absolute top-[calc(50%-32px)] left-[calc(50%-32px)] [&>div]:font-extrabold [&>div]:text-5xl [&>div]:flex [&>div]:justify-center [&>div]:grow [&>div]:items-center rotation">
        <div class="bg-amber-50 w-16 h-16 absolute transform-3d translate-z-8 rotate-x-0 backface-hidden">
            1
        </div>
        <div class="bg-amber-50 w-16 h-16 absolute transform-3d translate-y-8 -rotate-x-90 backface-hidden">
            2
        </div>
        <div class="bg-amber-50 w-16 h-16 absolute transform-3d translate-x-8 rotate-y-90 backface-hidden">
            3
        </div>
        <div class="bg-amber-50 w-16 h-16 absolute transform-3d -translate-x-8 -rotate-y-90 backface-hidden">
            4
        </div>
        <div class="bg-amber-50 w-16 h-16 absolute transform-3d -translate-y-8 rotate-x-90 backface-hidden">
            5
        </div>
        <div class="bg-amber-50 w-16 h-16 absolute transform-3d -translate-z-8 rotate-y-180 backface-hidden">
            6
        </div>
    </div>
</div>