<p-dialog [header]="dice.modalTitle" [(visible)]="diceDialogVisible" [modal]="true" closable="false"
    [style]="{width: 'clamp(320px, 90%, 320px)'}" draggable="false">
    <ng-template #content class="flex items-center grow">

        @if (dice.modalMessage) {
        <p>{{ dice.modalMessage }}</p>
        }
        <app-dice-object></app-dice-object>
        <p>Résultat du dé : {{ dice.result() }}</p>
    </ng-template>
    <ng-template #footer>
        <p-button [label]="dice.modalButtonLabel" (onClick)="dice.closeModal()" />
    </ng-template>
</p-dialog>